@import scala.util.matching.Regex
@(
        parameters: Map[String, Map[String, String]],
        maybeUser: Option[hatdex.hat.authentication.models.User] = None,
        selectedNotable: Option[hatdex.hat.phata.models.Notable],
        notables: Seq[hatdex.hat.phata.models.Notable]
)

@hatname = @{
    parameters.get("hat").flatMap(_.get("hatName")).getOrElse("HAT")
}

@hataddress = {https://@parameters.get("hat").map(_.getOrElse("hatAddress", ""))}

@metaIllustration = @{
    selectedNotable.flatMap { notable =>
        val imgPattern = new Regex("<img src=\"(.*)\" .*/>")
        imgPattern.findFirstIn(notable.message) match {
            case Some(imgPattern(imageUrl)) => Some(imageUrl)
            case _ => None
        }
    } getOrElse {
        s"$hataddress/assets/images/hat_logo.png"
    }
}

@meta = {
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@thehatdex">
    <meta name="twitter:title" content="HAT Notables - @hatname">
    <meta name="twitter:description" content="@selectedNotable.map(_.message).getOrElse(s"Notables by $hatname")">
    <meta name="twitter:image:src" content="@metaIllustration">
    <meta name="twitter:domain" content="@hataddress">
    <meta property="og:url" content="@hataddress/notables?id=@selectedNotable.map(_.id).getOrElse("")" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="HAT Notables - @hatname" />
    <meta property="og:description" content="@selectedNotable.map(_.message).getOrElse(s"Notables by $hatname")" />
    <meta property="og:image" content="@metaIllustration" />
    <meta property="og:site_name" content="@hatname HAT Notables" />
    <meta property="og:app_id" content="158753364485419" />
}

@menubarcontent = @{
    components.menubarLeft(None, Some(hatname),
        hatAddress = Some(s"$hataddress/notables?id=${selectedNotable.map(_.id).getOrElse("")}"),
        tab = "notables")
}

@notablesscripts = {
    <script>
            $(".notable-item").click(function () {
                var id = $(".header-content", this).data("id");
                window.location.href = "/notables?id=" + id;
            })
    </script>
}


@main(s"Welcome to ${hatname} HAT", maybeUser, hatName = Some(hatname), menubarContent = menubarcontent, meta = meta, scripts = notablesscripts) {
    <div class="grid">
        @selectedNotable.map { note =>
            <div class="wrapper grid-item item-wide">
                @*<div class="box-square aspect-ratio"></div>*@
                <div class="box-content notable-full-view" id="notable-full-view">
                    <h1><span class="icon ss-write"></span>&nbsp;Notable <span class="notable-id">@note.id</span></h1>
                    @components.notable(note)
                </div>
            </div>
        }
        <div class="wrapper grid-item item-wide">
            @*<div class="box-square aspect-ratio"></div>*@
            <div class="box-content notes">
                <h1><span class="icon ss-write"></span>&nbsp;More of My Public Notables</h1>
                @notables.map { note =>
                    @if(selectedNotable.map(_.id).contains(note.id)) {

                    } else {
                        @components.notable(note, preview = true)
                    }
                }
            </div>
        </div>
    </div>

}